/* =========
  List Section Sync
  This Code is Licensed by Will-Myers.com
========== */

.list-item.store-item .list-item-content__title{
  display:flex;
  justify-content: space-between;
}

body:not(.sqs-edit-mode-active) .page-section:has(.list-section-title) .user-items-list li img {
  opacity: 0 !important;
}
.page-section:has(.list-section-title)[data-list-section-sync="initialized"] .user-items-list li img[src*="isSyncedImage=true"] {
  opacity: 1  !important;
}
body:not(.sqs-edit-mode-active) .page-section:has(.list-section-title)[data-list-section-sync="false"] .user-items-list li img {
  opacity: 1 !important;
}

body:not(.sqs-edit-mode-active) .page-section .list-section-title  {
  display: none;
}asdf
body:not(.sqs-edit-mode-active) .page-section[data-list-section-sync="initialized"] .list-section-title,
body:not(.sqs-edit-mode-active) .page-section[data-list-section-sync="false"] .list-section-title{
  display: block;
}

.list-section-title .wm-error {
  display: none;
}
body.sqs-edit-mode .list-section-title .wm-error {
  display: block;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  text-transform: initial;
  font-style: normal;
}

[data-list-section-sync="initialized"] .image-link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
